@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
.modal {
  background-color: #333 !important;
  display: none;
}
*,
::after,
::before {
  box-sizing: content-box !important;
}
input {
  margin: 10px !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333 !important;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255) !important ;
}
.slick-slide{
  display: flex !important;
  justify-content: center !important
}
.navbar-for-home-page h1 {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
}
.navbar-for-home-page {
  width: 95%;
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iitem-inside{
  margin-right:20px !important;
  margin-left:20px !important;
  max-width:500px  !important;
  width: 50% !important;
 
  }
  #card-cont{
    max-width: 850px !important;
  }
  
  @media (max-width: 1000px) {
    #card-cont{
      flex-direction: column;
      align-items: center;
    }
    .iitem-inside{
      width: 71% !important;
      height: 80%;
    }
  }
* {
  margin: 0;
  padding: 0;
}
.navbar-for-home-page ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-for-home-page ul li {
  list-style: none;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding: 0 10px;
}
.navbar-btn button {
  background-color: transparent;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 16px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
  width: fit-content;
  height: 33px;
  color: rgb(246, 246, 246);
}
.line {
  background-color: rgb(135, 133, 146);
  width: 52px;
  height: 1.7px;
  border-radius: 10px;
}
/* .menu-btn{display: none; position: relative;justify-content: center;align-items: center;width: 1.5rem;height: 1.5rem;cursor: pointer;z-index: 1;}
.menu-btn-lines,
.menu-btn-lines::after,
.menu-btn-lines::before{width: 1.5rem;height: 0.1rem;background-color: #fff;transition: all .5s ease-in-out;}
.menu-btn-lines::after,
.menu-btn-lines::before{content: '';position: absolute;}
.menu-btn-lines::before{
  transform: translateY(-0.5rem);
}
.menu-btn-lines::after{
  transform: translateY(0.5rem);
}
.menu-btn.open .menu-btn-lines{
  transform: translateX(2rem);
  background-color: transparent;
}
.menu-btn.open .menu-btn-lines::before{
  transform: rotate(45deg) translate(-1.5rem,1.5rem); 
}
.menu-btn.open .menu-btn-lines::after{
  transform: rotate(-45deg) translate(-1.5rem,-1.5rem); 
} */
.home-page-header-section {
  /* min-height: 100vh; */
  padding-top: 70px;
}
.header-text-part {
  width: 69%;
  margin: 0 auto;
  text-align: center;
}
.header-text-part h1 {
  text-align: center;
  font-weight: 600;
  font-size: 33px;
  line-height: 39px;
  margin-bottom: 20px;
}
.header-text-part p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
  margin-bottom: 25px;
}
.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-btn1 button {
  background-color: #fff;
  padding-right: 25px;
}
.header-buttons button {
  width: 114px;
  height: 34px;
  border-radius: 10px;
  border: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin: 0 15px;
}
.header-btn2 button {
  background-color: rgb(81, 82, 84);
  color: #fff;
  padding-left: 25px;
}
.header-btn1 {
  position: relative;
  padding: 10;
}
.header-btn2 {
  position: relative;
  padding: 10;
}
.header-btn1 img {
  width: 25px;
  position: absolute;
  right: 20px;
  top: 5px;
}
.header-btn2 img {
  width: 25px;
  position: absolute;
  left: 19px;
  top: 5px;
}
.what-we-dowrapper {
  /* min-height: 100vh; */
  position: relative;
  /* padding-top: 60px; */
  margin-bottom: 70px;
}

.home-page-what-we-do {
  display: flex;
  width: 90.6%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  padding-top: 60px;
}
.what-we-do-text {
  width: 55%;
  /* border-left: 1px solid rgb(135, 133, 146); */
  /* height: 80vh; */
  padding-bottom: 13%;
  /* border-top: 1px solid rgb(135, 133, 146); */
  position: relative;
  margin-right: 30px;
}
.what-we-do-img img {
  width: 40vw;
}
.what-we-do-text h1 {
  position: absolute;
  top: -17px;
  /* background-color: #333; */
  height: 50px;
  /* width: 190px; */
  left: -12px;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
}
.what-we-do-text p {
  /* padding-top: 60px; */
  margin-top: 40px;
  padding-top: 20px;
  font-weight: normal;
  font-size: 20px;
  border-left: 1px solid rgb(135, 133, 146);
  line-height: 36px;
  width: 80%;
  padding-left: 30px;
}

.why-savvy-section {
  /* min-height: 100vh; */
  /* margin-bottom: 120px; */
  position: relative;
}
.savvy-bg img,
.what-wedo-bg img {
  position: absolute;
  top: -50px;
  left: -100px;
  width: 100vw;
}
.why-savvy-section-all-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-section-cards img {
  width: 100px;
  margin-top: 45px;
}
/* .why-card h1{
  margin-top:10px
} */

.why-card-heading{
  margin-top:15px

}
.why-section-cards h1 {
  margin: 36px 0;
  margin-bottom: 46px;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  padding: 0 24px;
  margin-top: 33px;
  margin-bottom: 25px;
}
.why-section-cards {
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-around; */
  /* align-items: center; */
  flex-wrap: wrap;
  width: 79%;
  margin: 0 auto;
}

.why-card {
  width: 21%;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  border-radius: 85px;
  /* height: 25 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  /* justify-content: center; */
}
.why-savvy-section h1:first-child {
  text-align: center;
  padding: 50px 0;
  padding-top: 0;
}

.price-plan-section h1:nth-child(1) {
  text-align: center;
  font-size: 54px;
  /* letter-spacing: 2px; */
  padding: 40px 0;
}
.price-plan-section h1:nth-child(2) {
  text-align: center;
  font-size: 54px;
  /* letter-spacing: 2px; */
}
.price-plan-card h1:nth-child(2) {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}
.rice-plan-card h1:nth-child(1) {
  font-size: 48px;
}
.price-plan-section {
  /* min-height: 100vh; */
}
.price-plan-all-cards {
  display: flex;
  width: 78%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.price-plan-card {
  backdrop-filter: blur(10px);
  padding-bottom: 40px;
  border-radius: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 67px;
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-plan-card2 {
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
}

/* .price-plan-card h1 {
  margin-bottom: 35px;
} */
.price-plan-card p {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
}
.price-plan-card button {
  width: 126px;
  height: 40px;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 19px;
  line-height: 22px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
}
.price-plan-card2 button {
  background-color: #1477ae;
  color: #fff;
  width: 136px;
  height: 48px;
}
.price-plan-section h1:nth-child(1) {
  padding-bottom: 80px;
  padding-top: 30px;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
}
.price-plan-card h1:nth-child(1) {
  padding-bottom: 51px;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  padding-top: 0;
}
.contact-part-home-page {
  /* min-height: 100vh; */
  background-image: url('./Home/contactbg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.82); /* Tint color */
  background-blend-mode: multiply;
  background-size: cover;
}
.contact-part-home-page h1 {
  padding-top: 70px !important;
  text-align: center !important;
}
.contact-part-home-page p {
  text-align: center !important;
}
.contact-form-container {
  width: 81% !important;
  margin: 0 auto !important;
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 40px !important;
  padding: 0 38px !important;
  padding-bottom: 32px !important;
  padding-top: 40px !important;
}

.first-input-row input {
  background-color: transparent;
  border: 1px solid rgb(246, 246, 246);
  width: 36vw !important;
  height: 58px !important;
  border-radius: 20px !important;
  margin-bottom: 30px !important;
}
.input-message textarea {
  background-color: transparent;
  border: 1px solid rgb(246, 246, 246);
  width: 80.5vw !important;
  height: 85px !important;
  border-radius: 20px;
  margin-bottom: 40px !important;
}
.first-input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-emailandnumber,
.input-nameandsubject {
  display: flex;
  flex-direction: column;
}
.contact-form-container {
  text-align: center !important;
}
.contact-form-container button {
  font-weight: 600 !important;
  font-size: 19px !important;
  line-height: 22px;
  width: 240px !important;
  height: 60px !important;
  background-color: rgb(135, 133, 146);
  color: #fff;
  border-radius: 20px !important;
  border: none !important;
}
.contact-form-container input::placeholder,
textarea::placeholder {
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
}
.contact-form-container input::placeholder {
  padding-left: 25px !important;
}
.contact-form-container textarea::placeholder {
  padding-left: 25px !important;
  padding-top: 30px !important;
}
.social-icons ul li a img {
  width: 50px;
}
.social-icons ul {
  display: flex;
  justify-content: space-around;
  width: 28%;
}
.social-icons ul li {
  list-style: none;
}
.social-line {
  background-color: rgb(246, 246, 246);
  height: 1.7px;
  width: 28vw;
}
.social-icons {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.contact-part-home-page h1 {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.contact-part-home-page p {
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  opacity: 0.6;
  margin: 15px 0;
}
/* .slick-initialized .slick-slide{  margin: 0 51px !important;} */
/* .header-slider-wrapper{width: 90%;margin: 0 auto;overflow: hidden;} */
.header-slider {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 10px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("https://img.icons8.com/ios/50/000000/long-arrow-left.png") 0
    0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("https://img.icons8.com/ios/50/000000/long-arrow-right.png") 0 0 / 100% no-repeat;
}

.pull-left{
  position: absolute;
  top: 50%;
}

.pull-right{
  position: absolute;
  right: 0;
  top: 50%;
}

.pull-right,.pull-left,.pull-left-phn,.pull-right-phn{
  width: 30px;
  height: 30px;
  z-index: 10;
  font-size:20px;
  border-radius: 50%;
  border:none;
}


.pull-left-phn{
  position: absolute;
  top: 100%;
  left: 9%;
  /* background:rgba(196, 196, 196, 0.1);
  color: #fff */
}

.pull-right-phn{
  position: absolute;
  right: 5%;
  /* background:rgba(196, 196, 196, 0.1); */
  /* color: #fff */

}

.slick-slider{
  position:unset !important;
}

.header-slider-wrapper{
  position: relative !important;
}


/* .slick-prev:before {
  content: "<";
  color: red;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: red;
  font-size: 30px;
} */

.slick-next .slick-arrow {
  position: absolute !important;
}

.img-responsive{
  height:80px;
  margin:10px 10px
}

.header-slider img,
.header-slider2 img {
  width: 50vw;
}
.whole-page-wrapper {
  /* background-image: url("./Home/Ellipse\ 531.svg"); */
  background-attachment: fixed;
  background-size: contain;
  background-position: 55% 50%;
  background-repeat: repeat-y;
}
.price-plan-all-cards {
  width: unset;
  justify-content: center;
}
.price-plan-card {
  min-width: 250px;
  width: unset;
  margin: 0 45px;
}
body button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1477ae;
  border-radius: 10px;
}
.price-plan-all-cards::-webkit-scrollbar {
  height: 5px;
}
.why-savvy-section {
  position: relative;
}
.savvy-border-line img {
  position: absolute;
  top: 18%;
  right: -2%;
  width: 27%;
  transform: rotate(90deg);
}
.savvy-border-line2 img {
  position: absolute;
  bottom: -3%;
  left: 5%;
  width: 27%;
  transform: rotate(-180deg) scaleX(-1);
}
.price-plan-section {
  position: relative;
  padding-bottom: 160px;
}
.price-plan-section .savvy-border-line img {
  top: 0;
  left: 5%;
  transform: rotate(0);
}
.price-plan-section .savvy-border-line2 img {
  transform: rotate(-90deg) scaleY(-1);
  right: -5.02%;
  left: unset;
  bottom: 26%;
}
.home-page-header-section {
  margin-bottom: 100px;
}
.header-slider-wrapper {
  padding-top: 20px;
}

.header-slider2 {
  display: none !important;
}
.contact-form-container button {
  transition: all 0.5s ease-in-out;
}
.contact-form-container button:hover {
  background-color: #1477ae;
  color: #fff;
}
.why-card {
  transition: all 0.3s ease-in-out;
}
.why-card:hover {
  transform: scale(1.05);
  box-shadow: 17px 10px 53px -12px rgba(0, 0, 0, 0.5);
}
.header-slider img,
.header-slider2 img {
  transition: all 0.3s ease-in-out;
}
.slick-track {
  padding: 30px 0 !important;
}
.header-slider img:hover,
.header-slider2 img:hover {
  transform: scale(1.09);
  cursor: pointer;
}
.navbar-btn button:hover {
  border-color: #1477ae;
}
.navbar-btn button {
  transition: all 0.3s ease-in-out;
}
.what-we-do-img {
  overflow: hidden;
}
.what-we-do-img img:hover {
  transform: scale(1.2);
}
.what-we-do-img img {
  transition: all 0.6s ease-in-out;
}
.why-card:hover img {
  transform: rotate(20deg);
}
.why-card img {
  transition: all 0.6s ease-in-out;
}
.price-plan-card button:hover {
  border-radius: 15px;
}
.price-plan-card button {
  transition: all 0.5s ease-in-out;
}
.price-plan-card1:hover {
  transform: scale(1.1);
  box-shadow: 17px 10px 53px -12px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.price-plan-card2:hover {
  transform: scale(1.19);
  box-shadow: 17px 10px 53px -12px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.price-plan-card3:hover {
  transform: scale(1.1);
  box-shadow: 17px 10px 53px -12px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.price-plan-card {
  transition: all 0.6s ease-in-out;
}
.why-card img {
  transition: all 0.4s ease-in-out;
}
.home-page-what-we-do {
  position: relative;
}
.what-we-do-line {
  position: absolute;
  height: 1px;
  background-color: rgb(135, 133, 146);
  width: 33vw;
  left: 16%;
}

.STRENTAL-SECOND-SECTION {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-input-row input {
  width: 80vw;
}
.second-section-text-part {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 30px;
}
.secons-section-line {
  width: 34vw;
  height: 2px;
  background-color: rgb(135, 133, 146);
}
.second-section-text-part h1 {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.be-complaint-section {
  position: relative;
  margin-bottom: 110px !important;
  margin-top: 80px !important;
}
.be-complaint-section .savvy-border-line img {
  top: 8%;
}
.be-complaint-section .savvy-border-line2 img {
  bottom: -6% !important;
}
.becomplaint-card img {
  width: 100px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 12px;
}
.becomplaint-cards {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-around;
}
.becomplaint-card p {
  padding: 0 50px;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 12px;
}
.becomplaint-card {
  width: 41%;
  /* min-height: 265px; */
  max-width: 310px;
  text-align: center;
  /* align-self: stretch; */
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  /* height: calc(100vh / 2.2); */
  margin-bottom: 20px;
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-bottom: 15px;
}
.be-complaint-text {
  width: 85% !important;
  margin: 0 auto !important;
}
.be-complaint-text p {
  text-align: unset !important;
  padding: 25px 10px !important;
}
.be-complaint-text h1 {
  text-align: center !important;
  padding-bottom: 6px !important;
  border-bottom: 2px solid rgb(135, 133, 146);
  width: 230px !important;
  margin: 0 auto !important;
}
.be-complaint-text a {
  color: rgb(135, 133, 146);
  text-decoration: none;
}

.our-client-section-speaks {
  position: relative;
  text-align: center;
  margin-bottom: 110px;
  padding-bottom: 35px;
}
.quote-p-tag {
  padding: 0 20px;
}
.our-client-section-speaks h1 {
  margin-bottom: 35px;
}
.author-name {
  text-align: right;
  padding-right: 25px;
  padding-top: 16px;
}
.our-client-card {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 23px 0;
  width: 85vw;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 30px;
  /* height:405px */
}

.new-savvy-container .why-section-cards {
  max-width: 1000px;
}
.new-savvy-container .why-card {
  width: 27%;
}
.why-card {
  border-radius: 55px;
}
.becomplaint-card {
  transition: all 0.3s ease-in-out;
}
.becomplaint-card:hover {
  transform: scale(1.05);
  box-shadow: 17px 10px 53px -12px rgba(0, 0, 0, 0.5);
}
.becomplaint-card img {
  transition: all 0.6s ease-in-out;
}
.becomplaint-card:hover img {
  transform: rotate(20deg);
}
.why-section-cards {
  width: 90%;
  max-width: 1200px;
}
.new-savvy-container .savvy-border-line2 img {
  left: unset;
  right: 1%;
  width: 27%;
  transform: rotate(-180deg) scaleX(1);
}
.new-savvy-container .savvy-border-line img {
  right: unset;
  left: 0.85%;
  width: 20%;
  transform: rotate(90deg) scaleY(-1);
}

/* Media queries */
@media only screen and (max-width: 1300px) {
  .what-we-do-line {
    left: 21%;
    width: 31vw;
  }
  .price-plan-all-cards {
    padding: 60px 0;
    overflow-x: auto;
    /* justify-content: unset; */
  }
  .price-plan-section h1:nth-child(1) {
    padding-bottom: 40px;
  }
  .price-plan-card {
    margin: 0 50px;
  }
  .why-section-cards {
    width: 90%;
  }
  .why-section-cards img {
    width: 90px;
    margin-top: 39px;
  }
  /* .price-plan-all-cards::-webkit-scrollbar {
    width: 5px !important;
  }
  .price-plan-all-cards::-webkit-scrollbar-track {
    width: 5px; background: #f1f1f1; border-radius: 10px;
  }
  .price-plan-all-cards::-webkit-scrollbar-thumb {
    background: #1477ae;width: 5px;
    border-radius: 10px;
  } */
}

.our-client-cards{
  overflow-y:auto;
  height:400px
}
@media only screen and (max-width: 1000px) {
  .what-we-do-line {
    top: 45%;
    left: 17%;
    width: 73.5vw;
  }
  .why-section-cards {
    max-width: 620px;
  }
  .savvy-border-line img {
    top: 4%;
  }
  .price-plan-section .savvy-border-line2 img {
    display: none;
  }
  .menu-btn {
    display: flex;
    z-index: 4;
  }
  .contact-part-home-page {
    height: unset;
  }
  .why-card {
    min-height: 215px;
    border-radius: 65px;
    width: 40%;
  }
  .why-savvy-section {
    height: unset;
    margin-bottom: 110px;
    margin-top: 100px;
  }
  .price-plan-section {
    height: unset;
    padding-bottom: 130px;
  }

  .what-we-dowrapper {
    height: unset;
  }
  .what-we-do-text p {
    line-height: 28px;
    font-size: 18px;
  }
  .header-text-part {
    width: 90%;
  }
  .header-text-part h1 {
    font-size: 24px;
  }
  .home-page-header-section {
    height: unset;
    margin-bottom: 70px;
  }
  .header-text-part p {
    font-size: 14px;
  }
  .header-buttons button {
    /* width: 140px;
    height: 45px; */
  }
  .header-btn1 img {
    /* top: 8px;
    right: 18px; */
  }
  .what-we-do-text {
    height: unset;
  }
  .why-section-cards img {
    width: 100px;
  }
  .contact-part-home-page h1 {
    font-size: 36px;
    padding-top: 50px;
  }
  .first-input-row {
    flex-direction: column;
  }
  .first-input-row input {
    width: 80vw;
    height: 55px;
  }
  .what-we-do-img img {
    height: 170px;
    object-fit: cover;
  }
  .social-line {
    width: 20vw;
  }
  .social-icons ul {
    width: 54%;
  }
  .contact-part-home-page p {
    font-size: 24px;
  }
  .navbar-for-home-page ul {
    display: none;
  }
  .home-page-what-we-do {
    flex-direction: column-reverse;
  }
  .what-we-do-text {
    width: unset;
  }
  .what-we-do-text p {
    width: unset;
  }
  /* .header-slider img{width: 87vw;} */
  .what-we-do-img img {
    width: 89vw;
    margin-bottom: 50px;
  }
  .navbar-for-home-page {
    width: 90%;
  }
  .header-slider2 {
    display: unset !important;
  }
  .header-slider2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 10px;
  }
  .header-slider-wrapper {
    padding-top: 70px;
  }
  .header-slider2 img {
    width: 87vw;
    padding-left: 6.5%;
  }
  .header-slider {
    display: none !important;
  }
  .social-icons ul li a img {
    width: 40px;
  }
  .contact-form-container {
    width: 68% !important;
  }
  .first-input-row input {
    width: 67vw !important;
    height: 45px !important;
  }
  .input-message textarea {
    width: 67vw !important;
  }
  .input-message textarea {
    height: 75px !important;
  }
  .contact-form-container button {
    width: 162px !important;
    height: 47px !important;
    border-radius: 17px;
  }
  .social-icons ul li a img {
    width: 32px;
  }
  .price-plan-all-cards {
    justify-content: unset;
  }
  .price-plan-section h1:nth-child(1) {
    font-size: 26px;
  }
  .price-plan-card h1:nth-child(1) {
    font-size: 28px;
    padding-bottom: 20px;
  }
  .price-plan-card h1:nth-child(2) {
    font-size: 36px;
    margin-bottom: 25px;
  }
  .price-plan-card p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .price-plan-card button {
    width: 98px;
    height: 31px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    border-radius: 10px;
  }
  .price-plan-card {
    min-width: 227px;
    padding-bottom: 40px;
    border-radius: 71px;
    margin: 0 40px;
    padding-top: 43px;
  }
  .price-plan-all-cards {
    padding-right: 20px;
  }
  .what-we-do-text h1 {
    font-size: 28px;
    line-height: 34px;
    width: 148px;
    height: 33px;
  }
}
@media only screen and (max-width: 600px) {
  .why-section-cards img {
    width: 70px;
  }
  .why-section-cards {
    min-width: unset;
    width: 89%;
  }
  .why-section-cards h1 {
    margin-top: 15px;
  }
  .why-section-cards img {
    margin-top: 25px;
  }
  .savvy-border-line2 img {
    bottom: -4%;
    left: 2%;
  }
  .price-plan-section .savvy-border-line img {
    left: 2%;
  }
  .price-plan-all-cards {
    padding: 35px 0;
  }
  .what-we-dowrapper {
    margin-bottom: 40px;
  }
  .what-we-do-text p {
    padding-top: 40px;
    padding-left: 20px;
  }
  .savvy-border-line img {
    top: 1%;
  }
  .why-card1,
  .why-card2,
  .why-card3,
  .why-card4,
  .why-card5,
  .why-card6,
  .why-card7,
  .why-card8 {
    width: 47%;
    border-radius: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .contact-form-container input::placeholder {
    padding-left: 16px !important;
  }
  .contact-form-container textarea::placeholder {
    padding-left: 16px !important;
    padding-top: 25px !important;
  }
  .contact-form-container input::placeholder,
  textarea::placeholder {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.6;
    line-height: 22px;
  }
  .first-input-row input {
    border-radius: 14px;
  }
  .contact-part-home-page {
    background-attachment: scroll;
  }

  .price-plan-card {
    border-radius: 54px;
    min-width: 225px;
    padding-top: 37px;
    padding-bottom: 30px;
  }
  .price-plan-all-cards {
    padding-left: 13px;
  }
  .home-page-header-section {
    padding-top: 30px;
  }
  .header-slider-wrapper {
    padding-top: 45px;
  }
  .price-plan-section h1:nth-child(1) {
    padding-bottom: 27px;
  }
  .price-plan-section {
    padding-bottom: 70px;
  }
  .contact-part-home-page h1 {
    font-size: 28px;
  }
  .contact-part-home-page p {
    font-size: 17px;
    margin-top: 0px;
  }
  .price-plan-card {
    margin-bottom: 25px;
  }
}
.contact-part-home-page {
  padding-bottom: 30px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #fff; /* Black background color */
  color: #333; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#removeIcon {
  height: 20px !important;
  width: 20px !important;
  cursor: pointer;
  margin-left: 4px;
  margin-bottom: -4px;
}
input {
  color: white !important;
  padding-left: 5px;
  font-size: 1.5rem;
}
textarea {
  color: white !important;
  padding-left: 5px;
  font-size: 1.5rem;
}
/* ------------------new-sections-css---------------------------- */

@media only screen and (max-width: 1000px) {
  .why-section-cards {
    max-width: 620px;
  }
  .new-savvy-container .why-section-cards {
    width: 90%;
    max-width: 620px;
  }
  .new-savvy-container .why-card {
    width: 41%;
  }
  .becomplaint-card p {
    font-size: 14px;
  }
  .becomplaint-card h1 {
    font-size: 22px;
  }
  .second-input-row input {
    width: 67vw;
  }
  .second-section-text-part h1 {
    font-size: 36px;
  }
  .secons-section-line {
    width: 25vw;
  }
  .becomplaint-card p {
    padding: 0 30px;
  }
  /* .becomplaint-card{height: calc(100vh / 2.5);} */
  .becomplaint-card {
    max-width: unset;
    /* border-radius: 65px; */
  }
  .becomplaint-cards {
    max-width: unset;
    width: 90%;
  }
  .be-complaint-section .savvy-border-line img {
    top: 4%;
  }
  .becomplaint-cards {
    max-width: 700px;
  }
}
/* @media only screen and (max-width: 700px) {
  max-width: unset;
  width: 90%;
} */
@media only screen and (max-width: 600px) {
  .new-savvy-container .savvy-border-line img {
    left: -6%;
  }
  .new-savvy-container .why-card {
    padding: 0 10px;
    margin: 20px 0;
    width: 100%;
  }
  .be-complaint-section .savvy-border-line img {
    top: 0%;
  }
  .our-client-card {
    padding: 14px 0;
    border-radius: 30px;
    width: 90vw;
  }
  .becomplaint-card {
    border-radius: 40px;
  }
  .becomplaint-card p {
    padding: 0 10px;
  }
  .becomplaint-card img {
    width: 70px;
  }
  .be-complaint-section .savvy-border-line img {
    top: 5%;
  }
  .becomplaint-card p {
    font-size: 12px;
  }
  .becomplaint-card h1 {
    font-size: 18px;
  }
  .STRENTAL-SECOND-SECTION {
    height: unset;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .why-savvy-section h1:first-child,
  .be-complaint-text h1,
  .our-client-section-speaks h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .be-complaint-text h1 {
    width: 180px;
  }
  .be-complaint-text p {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .why-card {
    border-radius: 40px;
  }
  .why-section-cards h1 {
    padding: 0 14px;
  }
  .our-client-section-speaks {
    padding-bottom: 15px;
  }
  .our-client-card p {
    font-size: 14px;
  }
  .our-client-card {
    margin-bottom: 23px;
  }
  .be-complaint-section .savvy-border-line img {
    top: 2%;
  }
  .quote-p-tag {
    padding: 0 12px;
  }
  .becomplaint-card {
    width: 47%;
  }
  .becomplaint-cards {
    width: 93%;
  }
  .second-section-text-part h1 {
    font-size: 28px;
  }
  .why-section-cards {
    width: 93%;
    flex-direction: column;
  }
  .why-card {
    width: 90%;
  }
}
.becomplaint-card,
.why-card,
.price-plan-card {
  background: rgba(196, 196, 196, 0.1);
  backdrop-filter: unset;
  z-index: 2;
}
.price-plan-card {
  border-radius: 55px;
}
.price-plan-card2 {
  background: rgba(0, 0, 0, 0.45);
}

.navbar-for-home-page ul a {
  text-decoration: none;
  color: #fff;
}
.why-core img {
  width: 80px;
}
.why-core {
  background: rgba(196, 196, 196, 0.1);
  backdrop-filter: unset;
  width: 280px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 55px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.core-services-section {
  width: 87%;
  margin: 0 auto;
}
.core-services-section h1 {
  font-size: 23px;
  font-weight: bold;
  text-align: left !important;
}
.why-card-text {
  padding-left: 20px;
  width: 80%;
}
.core-services-section span {
  font-size: 21px;
  font-weight: normal;
}
.core-card-first-row,
.core-card-third-row {
  display: flex;
  align-items: center;
}
.core-card-second-row,
.core-card-fourth-row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/* .core-card-second-row,.core-card-fourth-row,.core-card-first-row,.core-card-third-row{margin: -60px 0;} */
.why-section-cards .why-card p {
  padding: 0 13px;
  padding-bottom: 13px;
}
.be-complaint-section-first {
  margin-bottom: 170px !important;
  margin-top: 30px;
}
.be-complaint-section-first p {
  font-size: 20px;
  line-height: 26px;
}
.be-complaint-section-second {
  padding: 50px 0;
}
.what-we-do-page .header-text-part {
  width: 75%;
}
.what-we-do-page .header-text-part h1 {
  font-weight: 500;
  font-size: 26px;
}
.what-we-do-page .header-text-part p {
  font-size: 18px;
  line-height: 19px;
  opacity: 0.85;
}
/* .home-page-header-section{position: relative;} */
.whole-home-page-wrapper {
  position: relative;
  overflow-x: hidden;
}
.home-page-first-section-bg-img4,
.home-page-first-section-bg-img3,
.home-page-first-section-bg-img2 {
  position: absolute;
  z-index: -1;
}
.home-page-first-section-bg-img {
  position: absolute;
  width: 90vw;
  top: -10%;
  right: -6%;
  z-index: -1;
  transform: scaleY(-1) rotate(130deg);
}
.home-page-first-section-bg-img2 {
  top: 14%;
  width: 65vw;
  left: -19%;
  transform: scaleX(1);
  opacity: 0.7;
}
.home-page-first-section-bg-img3 {
  top: 28%;
  width: 70vw;
  right: -10%;
  transform: scaleX(1) rotate(-40deg);
  opacity: 0.7;
}
.home-page-first-section-bg-img4 {
  top: 45%;
  width: 75vw;
  left: -10%;
  transform: scaleX(1);
  opacity: 0.7;
}
.home-page-first-section-bg-img5 {
  position: absolute;
  top: 62%;
  width: 65vw;
  right: -4%;
  transform: scaleX(1) rotate(40deg);
  opacity: 0.7;
}

.whatwedo-img-bg2,
.whatwedo-img-bg {
  position: absolute;
  z-index: -1;
}
.whatwedo-img-bg {
  width: 70vw;
  top: -10%;
  left: -4%;
}
.whatwedo-img-bg2 {
  width: 60vw;
  top: 34%;
  right: -4%;
  transform: scaleX(-1);
}
.price-page-whole-page-wrap {
  background-image: url('./Home/blue2.png');
  /* background-attachment: fixed; */
  background-size: auto;
  background-position: 91% 45%;
  z-index: -1;
  background-repeat: no-repeat;
}
.core-sevices-section.savvy-border-line img {
  top: 10%;
}
.core-sevices-section {
  margin-bottom: 50px;
}
.new-savvy-container .savvy-border-line2 img {
  right: 4%;
  bottom: -16%;
}
.core-sevices-section.savvy-border-line2 img {
  bottom: -9%;
}
.core-section-heading {
  margin-bottom: 80px;
}
.core-sevices-section .why-savvy-section h1:first-child {
  padding: 0;
}
@media only screen and (max-width: 1000px) {
  .home-page-first-section-bg-img {
    top: -200px;
  }
  .home-page-first-section-bg-img2 {
    width: 85vw;
    left: -22%;
    top: 12%;
  }
  .home-page-first-section-bg-img3 {
    top: 30%;
    width: 85vw;
    right: -6%;
    transform: scaleX(1) rotate(0deg);
  }
  .why-core {
    width: 220px;
    height: 175px;
  }
  .core-services-section h1 {
    font-size: 20px;
    font-weight: 500;
  }
  
  /* .core-card-second-row, .core-card-fourth-row, .core-card-first-row, .core-card-third-row{margin: -40px 0;} */
  .home-page-first-section-bg-img4 {
    top: 47%;
    width: 87vw;
    height: 600px;
  }
  .home-page-first-section-bg-img5 {
    height: 600px;
    width: 75vw;
  }
  .whatwedo-img-bg {
    width: 90vw;
    height: 600px;
    top: -4%;
  }
  .whatwedo-img-bg2 {
    width: 74vw;
    top: 49%;
    height: 570px;
  }
  .price-page-whole-page-wrap {
    background-position: 91% 37%;
  }
}
@media only screen and (max-width: 600px) {
  .price-page-whole-page-wrap {
    background-position: 68% 56%;
  }
  .core-card-second-row .why-card-text {
    padding-right: 6px;
  }
  .core-card-second-row,
  .core-card-fourth-row,
  .core-card-first-row,
  .core-card-third-row {
    margin: 20px;
  }
  .why-core {
    border-radius: 40px;
  }
  .home-page-first-section-bg-img {
    top: 5px;
    width: 100vw;
  }
  .header-text-part h1 {
    font-size: 20px;
    line-height: 31px;
  }
  .be-complaint-section-first p {
    font-size: 15px;
    line-height: 21px;
  }
  .be-complaint-section-first {
    margin-bottom: 100px !important;
  }
  .be-complaint-text {
    width: 90% !important;
  }
  .whatwedo-img-bg2 {
    width: 93vw;
  }
  .be-complaint-text p {
    padding: 18px 0 !important;
  }
  .home-page-first-section-bg-img2 {
    width: 118vw;
    left: -41%;
    top: 13%;
    height: 600px;
  }
  .home-page-first-section-bg-img5 {
    top: 70%;
    width: 99vw;
  }
  .home-page-first-section-bg-img3 {
    top: 28%;
    height: 500px;
    width: 97vw;
  }
  .be-complaint-section {
    margin-top: 70px !important;
  }
  .home-page-first-section-bg-img4 {
    /* top: 47%; */
    width: 100vw;
  }
}
@media only screen and (max-width: 500px) {
  .home-page-first-section-bg-img3 {
    top: 30%;
    width: 97vw;
  }
  .core-services-section h1 {
    font-size: 18px !important;
    font-weight: 500;
    line-height: 20px !important;
  }
  .core-services-section span {
    font-size: 12px;
    line-height: 0;
  }
}

.navbar-for-home-page {
  padding-top: 0px;
}

.hamburger {
  position: absolute;
  top: 1px;
  z-index: 4;

  right: 10px;
  background-color: transparent;
  display: none;
}
/* .hamburger:focus{outline: none;} */
.ul-and-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
@media only screen and (max-width: 1000px) {
  .ul-and-btn-wrapper {
    height: 0;
    transition: height 0.6s !important;
  }
  .ul-and-btn-wrapper {
    justify-content: space-around;
  }
  .navbar-for-home-page {
    width: 100%;
  }
  .navbar-for-home-page h1 {
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 4;
  }
  .navbar-btn {
    margin-bottom: 15px;
  }
  .hamburger {
    display: block;
  }
  .navbar-for-home-page ul {
    display: flex;
  }
  .ul-and-btn-wrapper {
    display: none;
  }
  .ul-and-btn-wrapper.show {
    display: flex;
    width: 100%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    top: 0;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    height: 300px;
    border-bottom-right-radius: 220px;
    border-bottom-left-radius: 220px;
  }
  .show.ul-and-btn-wrapper {
    height: 300px;
  }
  .show ul {
    flex-direction: column;
  }
  .show ul {
    height: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .ul-and-btn-wrapper.show {
    height: 345px;
    border-bottom-right-radius: 137px;
    border-bottom-left-radius: 137px;
  }
}
@media only screen and (max-width: 500px) {
  .home-page-header-section {
    padding-top: 70px;
  }
  .ul-and-btn-wrapper.show {
    height: 455px;
    border-bottom-right-radius: 97px;
    border-bottom-left-radius: 97px;
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #000000;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#what-we-do-linkk {
  position: absolute;
  z-index: 999;
}
html {
  /* overflow: scroll; */
  /* overflow-x: hidden; */
}
::-webkit-scrollbar {
  /* width: 0;  */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  /* background: #ff0000; */
}
html {
  scroll-behavior: smooth !important;
}

.navbar-btn button {
  margin-top: 10px;
}
#content {
  position: relative;
  /* width: 90vw; */
  margin: 0 auto;
  /* height:300px; */
}
#content:before,
#content:after,
#content > :first-child:before,
#content > :first-child:after {
  position: absolute;
  width: 237px;
  height: 189px;
  border-color: rgb(135, 133, 146); /* or whatever colour */
  border-style: solid; /* or whatever style */
  content: ' ';
}
#content:before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}
#content:after {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}
#content > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}
#content > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
}
.price-plan-section .savvy-border-line img,
.price-plan-section .savvy-border-line2 img {
  display: none;
}
/* #content:after{display: none;} */
.price-plan-section::after {
  display: none;
}
.price-plan-section > :first-child:after {
  display: none;
}
.price-plan-section:before {
  top: 10px !important;
  left: 50px !important;
}
.price-plan-section > :first-child:before {
  right: 50px !important;
  bottom: 40px !important;
}








.what-we-do-page .header-text-part{width: 87%;}
.what-we-do-page .header-text-part p {
  font-size: 18px;
  padding: 0 50px;
  padding-top: 20px;
  line-height: 23px;
  opacity: 0.93;
}
.what-we-do-page .header-text-part h1{font-weight: 500;
  font-size: 25px; 
line-height: 33px;}
/* .why-savvy-section-all-cards .why-section-cards{justify-content: space-around;} */
/* .why-savvy-section-all-cards .why-section-cards .why-card{margin: 0;margin-bottom: 20px;} */
.new-navvy-cards{justify-content: flex-start ;}
.new-navvy-cards .why-card{margin: 20px ;}
.core-sevices-section .why-savvy-section h1:first-child{padding-bottom: 4px;}


.why-section-cards h1 {
margin-bottom: 12px !important;  }
@media only screen and   (max-width:1300px) {
  .why-card{width: 20.5%;}
  .why-section-cards{width: 100%;}
}
.why-section-cards{justify-content: center;}
.why-card{margin: 20px;}
@media only screen and (max-width: 1000px){
  .price-plan-section:before,.price-plan-section > :first-child:before{display: none;}
  .core-services-section span{font-size: 17px;}
  .why-card {
    min-height: 215px;
    border-radius: 65px;
    width: 40%;
  }
  .what-we-do-page .header-text-part h1{font-size: 21px;
    line-height: 29px;}
    .what-we-do-page .header-text-part p{    font-size: 15px;
      padding: 0 34px;text-align: justify;
      padding-top: 15px;
      line-height: 21px;}
      .what-we-do-page .header-text-part{width: 97%;}
      .home-page-header-section 
{margin-bottom: 63px !important;}
#content:before, #content:after, #content > :first-child:before, #content > :first-child:after{
  width: 126px;
    height: 137px;
}

    }
    @media only screen and (max-width: 600px){
      .why-card-text{padding-left: 10px;}
      .be-complaint-section-first{margin-bottom: 34px !important;}
      .be-complaint-section {
     margin-top: 65px !important; margin-bottom: 100px !important; }
     .be-complaint-section-second{padding: 0;}
     .core-section-heading{margin-bottom: 15px !important;}
      .core-services-section{width: 100%;}
      .why-savvy-section{margin-bottom: 50px;}
      .our-client-section-speaks{margin-bottom: 20px;}
    }
    @media only screen and (max-width: 500px){
      .price-plan-section{margin-top: 70px !important;}
      .why-card{border-radius: 35px !important;}
      .why-core{border-radius: 30px;width: 230px;}
      .core-services-section span {
        font-size: 12px;
        line-height: 0;
    }
      .why-section-cards{flex-direction: column;}
      .new-savvy-container .why-card{width: 95%;}
      .what-we-do-page .header-text-part h1{    font-size: 18px;
        line-height: 27px;}
        .what-we-do-page .header-text-part p{        font-size: 14px;
          padding: 0 13px;
          text-align: justify;
          padding-top: 3px;
          line-height: 20px;}
  .why-section-cards{width: 87%;}

  .why-card{width: 90%;}
  /* .new-savvy-container .why-card{margin: 20px 0;} */
  .new-navvy-cards .why-card{margin: 0;width: 100%;margin-bottom: 20px;border-radius: 30px;}
}
.why-section-cards h1{
  margin-bottom: 0;
} 
.why-section-cards h1{font-size: 21px;font-weight: 500;padding-left: 4px !;padding-right: 4px !;}





.savvy-border-line img,.savvy-border-line2 img{display: none;}
 
.be-complaint-section-first::after {
  display: none;
}
.be-complaint-section-first > :first-child:after {
  display: none;
}
.be-complaint-section-first:before {
  top: -50px !important;
  left: 50px !important;
}
.be-complaint-section-first > :first-child:before {
  right: 50px !important;
  bottom: 0px !important;
}


.be-complaint-section-second::after {
  display: none;
}
.be-complaint-section-second > :first-child:after {
  display: none;
}
.be-complaint-section-second:before {
  top: -50px !important;
  left: 50px !important;
}
.be-complaint-section-second > :first-child:before {
  right: 50px !important;
  bottom: 0px !important;
}


.core-sevices-section::after {
  display: none;
}
.core-sevices-section > :first-child:after {
  display: none;
}
.core-sevices-section:before {
  top: -50px !important;
  left: 50px !important;
}
.core-sevices-section > :first-child:before {
  right: 50px !important;
  bottom: -30px !important;
}

.new-savvy-container::after {
  display: none;
}
.new-savvy-container > :first-child:after {
  display: none;
}
.new-savvy-container:before {
  top: -50px !important;
  left: 50px !important;
}
.new-savvy-container > :first-child:before {
  right: 50px !important;
  bottom: -30px !important;
}

.our-client-section-speaks::after {
  display: none;
}
.our-client-section-speaks > :first-child:after {
  display: none;
}
.our-client-section-speaks:before {
  top: -50px !important;
  left: 50px !important;
}
.our-client-section-speaks > :first-child:before {
  right: 50px !important;
  bottom: 10px !important;
}
.what-we-do-wrapper-for-bg{padding-bottom: 50px;}

@media (max-width:1000px) {
  .be-complaint-section-first:before,.be-complaint-section-second:before,.core-sevices-section:before,.new-savvy-container:before,.our-client-section-speaks:before { 
    left: 30px !important;
}
  .be-complaint-section-first > :first-child:before,.be-complaint-section-second > :first-child:before ,.core-sevices-section > :first-child:before,.new-savvy-container > :first-child:before,.our-client-section-speaks > :first-child:before{
    right: 30px !important; 
  }
}
@media (max-width:600px){
  #content:before, #content:after, #content > :first-child:before, #content > :first-child:after {
    width: 89px;
    height: 75px;
}
}
.new-savvy-container{
  margin-top: 71px !important;

}
.our-client-section-speaks{margin-top: 70px !important;}
.home-page-wrapper-for-bg{padding-bottom: 0px;}
/* .core-sevices-section{margin-bottom: 10px !important;} */
















/* 

.new-savvy-container .why-card{padding-top: 10px; display: list-item;list-style-position: inside;}
.why-card::marker{
  font-size: 30px;padding-left: 100px;
} */
.why-card{cursor: pointer;}
.what-we-do-new-savvy-container .why-card{border-radius: 25px;cursor: pointer;align-items: unset;}
 
.home-page-wrapper-for-bg,.what-we-do-wrapper-for-bg{
  /* background-image: url('./Home/blue1.png');
  background-size: 905px 900px;

  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-position: 55% 50%; */
  background-image: url("./Home/Ellipse\ 531.svg");
  background-attachment: fixed;
  background-size: contain;
  background-position: 55% 50%;
  background-repeat: repeat-y;
}
.core-sevices-section .why-savvy-section h1:first-child{padding-bottom: 50px;}
.what-we-do-new-savvy-container .why-section-cards h1{padding-bottom: 10px ; text-align: left; padding-left: 42px;}
.what-we-do-new-savvy-container .why-section-cards p{ text-align: left;padding: 0;padding-left: 37px; padding-bottom: 15px;}
.what-we-do-new-savvy-container .why-section-cards h1,.what-we-do-new-savvy-container .why-section-cards p{position: relative;}
.what-we-do-new-savvy-container .why-card a{
  font-size: 60px;position: absolute;
}
.what-we-do-new-savvy-container .why-section-cards h1 a{
  left: 10px;top: -16px;
}
.what-we-do-new-savvy-container .why-section-cards p a{
  left: 10px;top: -36px;font-size: 50px;
}
.what-we-do-new-savvy-container .why-section-cards h1,.what-we-do-new-savvy-container .why-section-cards p{text-align: left;}
.what-we-do-new-savvy-container .why-section-cards{
  flex-direction: column;    backdrop-filter: blur(10px);max-width: unset !important;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;padding: 30px 0;width: 80%;
}
.what-we-do-new-savvy-container.why-card:hover {
  transform: scale(1.0) !important;
  box-shadow: 3px rgba(0,0,0,0.6) !important;
  
}
.what-we-do-new-savvy-container .why-card{width: 90%;min-height: unset !important; background: none;margin: 0 auto;margin-bottom: 10px;}
@media only screen and (max-width: 1300px){
  .what-we-do-new-savvy-container.why-section-cards {
    width: 90%;
}
}
@media only screen and (max-width: 600px){
  .what-we-do-new-savvy-container .why-section-cards h1{font-size: 22px;}
  .what-we-do-new-savvy-container .why-section-cards p{font-size: 19px;}
  .core-sevices-section:before,.core-sevices-section > :first-child:before,.be-complaint-section-first:before,.be-complaint-section-first > :first-child:before,.be-complaint-section-second:before,.be-complaint-section-second > :first-child:before,.new-savvy-container > :first-child:before,.our-client-section-speaks:before.new-savvy-container:before,.our-client-section-speaks > :first-child:before{display: none !important; }
  .what-we-do-new-savvy-container.why-section-cards {
    width: 94% !important;border-radius: 30px !important;
}
.what-we-do-new-savvy-container .why-section-cards{
  width: 94% !important;
}
#content:before, #content:after, #content > :first-child:before, #content > :first-child:after{display: none;}
.what-we-do-new-savvy-container .why-card{margin-bottom: 9px;}
}
.core-services-section .why-card-text h1{padding-bottom: 4px !important;}



.login-btn-navbar{background-color: #1477ae !important;color: #fff !important;border:none !important;width: 130px !important;margin-right: 10px;}
.why-section-cards img{height: 100px;object-fit: cover;}
.displayonhovercontent{display: none;transition: display 2.6s ease-in-out !important;}
  .why-card:hover  .displayonhovercontent{display: unset !important;}
  .core-sevices-section .why-section-cards{align-items: unset !important;}
    .why-section-cards{align-items: baseline !important;}
@media only screen and  (max-device-width: 1200px) {
  .ul-and-btn-wrapper{
    width: 70%;
  }
}
@media only screen and  (max-device-width: 600px) {
  .why-section-cards img{height: 70px;}
}

.what-we-do-new-savvy-container .why-section-cards{margin-bottom: 50px;}
.what-we-do-wrapper-for-bg{padding-bottom: 0 !important;}

@media (max-width:1000px) {
  .be-complaint-section-first{margin-top: 20% !important;}
}